<div class="aler alert-info">
  This attributes are used as meta information for semantic web. It is based on <a href="http://schema.org/MediaObject">http://schema.org/MediaObject</a>.
</div>

<%= scrivito_details_for 'Title' do %>
  <%= scrivito_tag(:div, @obj, :title) %>
<% end %>

<%= scrivito_details_for 'Description' do %>
  <%= scrivito_tag(:div, @obj, :description) %>
<% end %>