<div class="inline-pdf" data-url="<%= pdf.url_to_pdf %>">
  <canvas></canvas>
  <div class="pdf-bar">
    <div class="button pdf-first">first page</div>
    <div class="button pdf-prev">prev page</div>
    <div class="button pdf-next">next page</div>
    <div class="button pdf-last">last page</div>
    <div class="button pdf-download">
      <a class="link" href="<%= pdf.url_to_pdf %>" title="Download Pdf">
        download
      </a>
    </div>
    <div class="button pdf-fullscreen">fullscreen</div>
    <div class="pdf-page-numbers">
    </div>
  </div>
</div>
