<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-map"></span>
  </div>

  <div class="title">
    PDF
  </div>

  <div class="description">
    Display a PDF on your page.
  </div>
</div>
